* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.containerAll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: inline-block;
    position: relative;
}


.gameBars {
    align-items: center;
    display: flex;
    padding: 20px;
    position: absolute;
    width: 100%;
}

.playerHealthBar {
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

.playerCurrentLife {
    position: absolute;
    background: #818CF8;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.playerTotalLife {
    background-color: #AC0404;
    height: 30px;
    width: 100%;
}

.enemyHealthBar {
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 4px;
    position: relative;
    width: 100%;
}

.enemyCurrentLife {
    background: #818CF8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.enemyTotalLife {
    background-color: #AC0404;
    height: 30px;
}

.timer {
    border: 3px solid white;
    border-radius: 4px;
    align-items: center;
    background-color: #211819;
    color: white;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 50px;
    width: 100px;
}

.displayText {
    align-items: center;
    color: white;
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.playerName {
    display: none;
}

.enemyName {
    display: none;
}
